<div class="center jumbotron">
    <div class="row">
    <div class="col-md-8 text-center">
        <img style="margin-bottom: 15px;height:235px;margin-top: 5px;" src="http://dbtestingwebsite.pw/assets/puzzle_trans.png">
    </div>
    <div class="col-md-4 hidden-xs hidden-sm">
          <h2>Challenge your brain and your friends in quick daily puzzles.</h2>
          </br>
          <%= link_to "Start Playing Today!", new_user_registration_path, :class => "btn btn-success" %>
    </div>
     <div class="col-md-4 hidden-md hidden-lg text-center">

          <h4>Challenge your brain and your friends in quick daily puzzles.</h4>
          </br>
          <%= link_to "Start Playing Today!", new_user_registration_path, :class => "btn btn-success" %>
    </div>
    </div>
</div>