<div class="center jumbotron">
    <div class="row">
        <div class="col-sm-12 col-md-7 col-md-offset-1 text-center col-lg-7 col-lg-offset-1">
            <img style="margin-bottom: 15px;height:235px;margin-top: 5px;" src="/assets/puzzle_trans.png">
        </div>
        <div class="col-md-3 col-sm-4 col-lg-3 hidden-xs hidden-sm text-center">
            <div class="visible-lg" style="min-height: 15px;"></div>
              <h2>Challenge yourself and your friends with short daily puzzles.</h2>
              </br>
              <div class="visible-lg" style="min-height: 15px;"></div>
              <%= link_to "Start Playing Today!", new_user_registration_path, :class => "btn btn-success" %>
        </div>
        <div class="col-md-4 hidden-md hidden-lg text-center">
            <h4>Challenge yourself and your friends with short daily puzzles.</h4>
            </br>
            <%= link_to "Start Playing Today!", new_user_registration_path, :class => "btn btn-success" %>
        </div>
    </div>
</div>