<%= render '/static_pages/jumbotron' %>
<div class="container">
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="home-description text-center">
            <p class="lead">Sometimes your brain needs a pick-me-up. We've got you covered.</p>
        </div>
        <div class="row text-center">
            <div class="col-md-4 col-sm-6 col-md-offset-1 col-xs-9 col-lg-4 col-lg-offset-1">
                <div class='thumbnail no-border'>
                    <img src="http://dbtestingwebsite.pw/assets/studying.png">
                    <div class="caption">
                        <h3>Daily Puzzles</h3>
                        <p>Every game has a different puzzle each day.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-md-offset-2 col-xs-9 col-lg-4 col-lg-offset-1">
                <div class='thumbnail no-border'>
                    <img src="http://dbtestingwebsite.pw/assets/group14.png">
                    <div class="caption">
                        <h3>Friendly Face-off</h3>
                        <p>Challenge your friends and see who's the best.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-md-offset-1 col-xs-9 col-lg-4 col-lg-offset-1">
                <div class='thumbnail no-border'>
                    <img src="http://dbtestingwebsite.pw/assets/checkmark11.png">
                    <div class="caption">
                        <h3>Improve Every Day</h3>
                        <p>Track your score history and watch yourself get better.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-md-offset-2 col-xs-9 col-lg-4 col-lg-offset-1">
                <div class='thumbnail no-border'>
                    <img src="http://dbtestingwebsite.pw/assets/award80.png">
                    <div class="caption">
                        <h3>Daily Leaderboards</h3>
                        <p>See how the rest of the world is doing, and make it to the top.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</div>