<% if user_signed_in? %>
    <%= render '/games/jumbotron' %>
<% else %>
<%= render '/static_pages/jumbotron'%>
<% end %>
<div class="container">
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="contact-description text-center">
            <p class="lead">Privacy Policy</p>
        </div>
<p>DailyPuzzl.es</p>

<p>Online Privacy Policy</p>

<p>DailyPuzzl.es (“Daily Puzzles”) is committed to protecting the privacy of users of our services. The purpose of this privacy policy is to inform you of the kinds of information we may gather about you when you register and use Daily Puzzles services or access our web site, how we may use that information and whether we disclose it to anyone.</p>

<p>Please note that the practices of Daily Puzzles and its members and agent, with respect to data collected and used by Daily Puzzles in connection with this website and all other websites of Daily Puzzles with authorized links to this policy (collectively, the “Site”) and Daily Puzzles products and services available or enabled via the Site (“Products and Services”), are governed by this online privacy policy (“Privacy Policy”) as amended from time to time, and not the privacy policy in effect at the time the data was collected.</p>

<p>Daily Puzzles is the sole owner of the information it gathers on its Site. Daily Puzzles will only share your Personally Identifiable Information (“PII”) with outside parties in ways that are described in this privacy statement or if we are required to do so by law, or in the good-faith belief that such action is necessary in order to conform to legal requirements, cooperate with law enforcement agencies, or comply with a legal process served on Daily Puzzles</p>

<p>Daily Puzzles adheres to the European Union Safe Harbor principles as set forth by the United States Department of Commerce regarding the collection, use, and retention of personal information covered by the Privacy Policy from the European Union.</p>

<p>Changes in Privacy Policy.</p>

<p>All personal information (“personal information” is defined as any information that identifies or can be used to identify the person to whom such information pertains) that we collect and maintain will be subject to this Privacy Policy, as amended from time to time. Daily Puzzles may change the Privacy Policy from time to time at its sole discretion and will provide notice of all changes in the Privacy Policy by posting these changes on the Privacy Policy linked to our Site at http://www.DailyPuzzl.es. If as the result of such changes you want to alter the ways in which Daily Puzzles is allowed to use your personal information, you can do so by following the procedure described in the section entitled “Updating your personal information and privacy preferences.” You will be deemed to have been made aware of, and will be subject to, the changes to the Privacy Policy after such notice has been posted with the following exception: if at the time you provide personal information to Daily Puzzles you limit how such information will be used to communicate with you, either by Daily Puzzles or by third parties, Daily Puzzles will not change your preference in this regard without your consent. However, if Daily Puzzles sells assets (or the assets of a division or subsidiary) to another entity, or Daily Puzzles (or a division or subsidiary) is acquired by or merged with another entity, you agree that Daily Puzzles may provide to such entity Personal Information, including any PII, that is related to that part of our business that was sold to or merged with the other entity without obtaining your further consent. Daily Puzzles will provide notice of such asset sales, acquisitions, or mergers on this Site to the extent that Personal Information or PII is transferred.</p>

<p>Entities collecting personal information.</p>

<p>Personal information on this Site is collected on behalf of Daily Puzzles by Daily Puzzles, which is responsible for this Site.</p>

<p>The Site contains links to other sites at which personal information is or may be collected. In such instances, unless expressly provided to the contrary, the collection and use of your Personal Information or PII will be governed by the privacy policy applicable to that site. That privacy policy should identify the entity that is collecting your Personal Information or PII.</p>

<p>Updating your personal information and privacy preferences.</p>

<p>You have the right to access, correct and delete inaccuracies in your personal information and privacy preferences at any time. With respect to Registration Information (as defined in the section entitled “Protection of your personal information”), this may be accomplished by logging in to your account on the relevant Daily Puzzles website, where you can typically view and make changes to your personal information. You may also access and correct your personal information and privacy preferences (such as whether you wish to receive promotional communications) by writing Daily Puzzles at:</p>

<p>info@dailypuzzl.es</p>

<p>Please include your name, manual signature, address, and/or e-mail address when you contact us. No specific form is required to notify Daily Puzzles of changes to your address or privacy preferences, but your signature on a written request is required.</p>

<p>Personal information submitted through this Site other than your name, email address and telephone number that is not Registration Information is not accessible online. To correct such information and privacy preferences (such as whether you wish to receive promotional communications), you may write to Daily Puzzles at:</p>

<p>info@dailypuzzl.es</p>

<p>Users may also email: privacy@DailyPuzzl.es for further information or help in this regard.</p>

<p>In your correspondence, please indicate with as much detail as possible the location on this Site or otherwise where you provided your personal information. You may expect a response within 30 days. For information submitted in connection with Products and Services, you may also follow instructions included or referenced within such Product and Services to access, correct or delete inaccuracies in the information.</p>

<p>Collection of Personal Information</p>

<p>When you access the Site, load or post material or download a posting, we collect various information about the interaction such as who accessed the Site, what was loaded, posted or downloaded, and may record any keypad presses, messages, and date and time information. We also collect information provided by your computer and the Internet.</p>

<p>“Anonymous Information” refers to information that cannot be tied back to a specific individual. For instance, we may know that 1,000 people visit this Privacy Policy daily, but we do not necessarily know their names, where they live, or their dates of birth. “Personally Identifiable Information” or “PII” refers to information that tells us specifically who you are, such as your name, phone number, or postal address.</p>

<p>Daily Puzzles may set and access Daily Puzzles or third party “cookies” on your computer when you visit our Site and collect the Internet protocol address provided by your computer. We use cookies to store your preferences and other information on your computer in order to save you time by eliminating the need for you to enter the same information repeatedly. These “cookies” may also help personalize your online experience.</p>

<p>A cookie is a tiny piece of text asking permission to be placed on your computer’s hard drive. If you agree, then your browser adds the text in a small file. You can set your browser to notify you when you receive a cookie, giving you the chance to decide whether or not to accept it. (For some web pages that require an authorization, cookies are not optional. Users choosing not to accept cookies or similar devices will probably not be able to access those pages or the related Products and Services.).</p>

<p>Daily Puzzles or third parties with whom we have contracted or sub contracted, may use web beacons on our Site, in our emails, in our advertisements on other web sites, or in our other advertisements. Similarly, third parties whose content or ads appear on our Site, or whose emails we send to you or to our other users, may also place web beacons in their ads or emails for purposes of measuring the effectiveness of the content, ads, or email. You can make some web beacons unusable by setting your browser to reject cookies.</p>

<p>A web beacon is an electronic image that can be used to recognize a cookie on your computer when you view a web page or email. Web beacons help us measure the effectiveness of our Site and our advertising. For example, web beacons may count the number of individuals who visit our Site from a particular advertisement or who make a purchase from our Site after viewing a particular advertisement or posting, or they may tell us when a web page is viewed and provide a description of the page where the web beacon is placed. Web beacons may also measure the effectiveness of our email campaigns by measuring click-throughs and the frequency that these emails are forwarded.</p>

<p>The information we or our contractors collect through web beacons may include some limited personal information. They also allow us to recognize users by accessing our cookies. We may also combine the information that we collect through web beacons with other personal information we have collected from you. We use all of this information to better tailor our marketing to you and may use this information for other purposes, such as to enable a shopping cart, customize content on our Site and undertake internal research.</p>

<p>We may allow third parties to compile individual information or aggregated statistics from the use of web beacons on our Site or otherwise placed by us, to enable such third parties to determine the effectiveness of online marketing and to allow such third parties to develop statistics on how often clicking on an advertisement results in an action on the advertiser’s site. Aggregate information is anonymous and may include demographic and usage information. No personally identifiable information about you is shared with such third parties for this research.</p>

<p>Daily Puzzles may hire other companies to place our banner ads on other websites. Such companies perform tracking and reporting activities on ads served and user reaction (“third-party advertisement servers”). They are not authorized by Daily Puzzles to collect any information other than IP addresses and behaviors associated with those IP addresses on our behalf, and we do not give any personal information to them. Third-party advertisement servers are subject to and may have their own privacy policies.</p>

<p>Daily Puzzles may allow other companies to display advertisements on certain pages of the Site or within the Products and Services. If you click on these advertisements these companies may place a persistent cookie on your computer which may allow them to display further advertisements to you. It is our policy to require these companies to provide accessible methods for you to disable these cookies. Should you have any complaints about the practices of any of these companies you should contact privacy@DailyPuzzl.es.</p>

<p>When you receive an email from Daily Puzzles, we may track whether you opened that email and clicked on any links included in the email.</p>

<p>When you surf the Internet, your Internet browser (such as Mozilla’s “FIRFOX”, Google’s “CHROME”, Apple’s “SAFARI” or Microsoft’s “Internet Explorer”) automatically transmits some information to Daily Puzzles every time you access content on one of our sites. Examples of such information include the URL of the Web page you were just on (known as the “Refer”), the IP (or Internet Protocol) address of the computer you are using, or the browser version you are using to access our site. All of this information may be collected by Daily Puzzles and used to help improve our services or the offerings our clients may make to you.</p>

<p>Protection of your personal information.</p>

<p>The personal information that you provide in connection with registering yourself as a user of the Site or of the Products and Services is classified as Registration Information. Registration Information is protected in several ways. Access by you to your Registration Information is available to you through a password and unique customer ID selected by you. This password is encrypted. In addition, your Registration Information resides on secure servers where only selected Daily Puzzles personnel and contractors who have access via administrative level passwords. The site is accessed via SSL encryption. Daily Puzzles encrypts your personal information as it is transferred to Daily Puzzles and thereby strives to prevent unauthorized parties from viewing such information. Unfortunately, although we have taken these steps, there is a possibility that a third party may, without our authorization, breach our security procedures and access such information.</p>

<p>Unfortunately, no data protection method or combination of methods can be guaranteed to be 100% secure. We try to take steps to protect your PII as described throughout this policy, but we cannot ensure or warrant our ability to do so. As a result, you use our Site and the Daily Puzzles Service content and services at your own risk. Daily Puzzles will not be liable for disclosures of your personal information or PII due to errors in transmission or unauthorized acts of third parties.
It is your responsibility to keep your password and unique User ID confidential. Do not share this information with anyone. We strongly suggest that you not use any User ID or password that you use for other purposes. If you are sharing a computer with anyone you should always log out before leaving a site or service to protect access to your information from subsequent users.</p>

<p>Information Sharing and Disclosure.</p>

<p>Daily Puzzles shares collected information with our registrants who submit information and Content or who access information or Content from Daily Puzzles. You may share any desired amount of information, including none. This shared information may be changed by following the procedures discussed in this Privacy Policy and in our Terms of Use (“TOU”). After we deliver collected information to our clients, we are not in control of what they do with the information. Accordingly, it is possible that our clients may share collected information with others or use the information themselves.</p>

<p>When required by legal process or government demand or request, we may share any information collected by us with the party or agency serving the process or making the demand or request.</p>

<p>Third-Party Websites and Services.</p>

<p>Please be aware that other websites that may be accessed through our Site may collect personally identifiable information about you. The information practices of those third-party websites linked to Daily PuzzlesORG are not covered by this Privacy Policy. Please be aware that our business partners may collect personal information about you.</p>

<p>Collection and Use of Children’s Personal Information</p>

<p>Daily Puzzles is concerned about the privacy and safety of children. The Site and Daily Puzzles services are not intended for children under 13 years of age. We do not knowingly collect personal information from children under the age of 13 through our Site.</p>

<p>As a matter of policy, Daily Puzzles does not knowingly collect Personally Identifiable Information (PII) from anyone under the age of 13 or allow such persons to access or respond to telephone calls or e-mails from Daily Puzzles
If you are under 18 years of age, please do not submit any personal information through our Site or otherwise without the express consent and participation of a parent or guardian.</p>

<p>For information on how to protect the privacy and safety of children online, we recommend that you visit the Parents’ and Teachers’ Guide to Online Privacy and the Consumer portion of the TRUSTe site (http://www.truste.org), which contains information and links to other resources on this subject. Although Daily Puzzles is not affiliated with TRUSTe or any other online privacy oversight program, we do recommend that consumers become familiar with TRUSTe and other online privacy oversight programs and business watch organizations.</p>

<p>Confidentiality and Security.</p>

<p>Protecting your privacy and your information is a top priority at Daily Puzzles We have taken careful measures to prevent the loss, misuse, and alteration of your information while it is in our possession and control. All Daily Puzzles employees are aware of our privacy and security policies. Within Daily Puzzles, we limit access to PII about you to employees who we believe reasonably need to come into contact with that information to provide reports to our clients and in order to do their jobs. We have physical, electronic, and procedural safeguards to protect personal information about you. However, once we provide the PII to our clients, we are not in control of the data or the use that our clients make of the data. We recommend that you consult our clients’ Privacy Policies.</p>

<p>Questions and Suggestions.</p>

<p>If you have questions or suggestions, please email us at privacy@DailyPuzzl.es, or write to us at info@dailypuzzl.es.</p>

<p>
Privacy Policy Compliance.</p>

<p>If you feel that Daily Puzzles has not complied with the policies outlined in this privacy statement please submit an Oversight report to us at privacy@DailyPuzzl.es.</p>

<p>Effective Date.</p>

<p>This Privacy Policy was adopted on September 5, 2015.</p>
        </div>
    </div>

</div>
</div>