<% if big %>
  <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-1 col-sm-offset-1 game-page-leaderboard">
<% else %>
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
<% end %>
      <div class="panel panel-primary">
        <% if big %>
        <% else %>
        <div class="panel-heading">
          <h2 class="white text-center"><%= game.name %></h2>
        </div>
        <% end %>

        <% if big %>
        <% else %>
          <%= render partial: '/games/gamebox_banner', locals: {game: game, big: big} %>
        <% end %>
        <%= render partial: '/games/gamebox_leaderboard', locals: {game: game, big: big, tooltip: tooltip, group_page: group_page, user: user} %>
      </div>
    </div>