<div class="center jumbotron text-center low-padding">

  <div class="text-center">
        <img style="height:235px" src="http://dbtestingwebsite.pw/assets/puzzle_trans.png">
    </div>
  <h2>Challenge yourself and your friends with short daily puzzles.</h2>
</div>