/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootswatch/cerulean/variables";
@import "bootstrap";
@import "bootswatch/cerulean/bootswatch";

body
{
padding-top: 50px;
background-color:white;
}

.white {
    color: #ffffff;
}

// set the dl lists for the leaderboard to have auto width on small screens
@media (min-width: 768px) {
  /* line 211, /usr/local/rvm/gems/ruby-2.2.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_type.scss */
  .dl-horizontal dt {
    width: auto;
    margin-right: 20px;
  }

  .dl-horizontal dd {
    margin-left: auto;
  }
}

.place-badge {
    min-width: 35px;
    margin-right: 5px;
}

.no-margin {
    margin: 0px;
}

.footer-min-height {
    min-height:204px;
}

.carousel-indicators li {
    border: 1px solid #2fa4e7;
    // give the carousel brand primary colors if not selected
}

.carousel-indicators .active {
    background-color: #2fa4e7;
}

@media (min-width: 768px) {
  /* line 211, /usr/local/rvm/gems/ruby-2.2.1/gems/bootstrap-sass-3.3.5.1/assets/stylesheets/bootstrap/_type.scss */
 .carousel-caption {
     top: 50%;
     padding-bottom: 0px;
 }
}

.game-well {
    padding: 0px;
    margin-bottom:0px;

}

.top-row {
    margin-top:10px;
}

.no-border {
    border:none;
}

.low-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.caption h3 {
    color: #000000;
}