<p>Hi <%= @user.first %>,</p>

<p>Happy <%= Date.today.strftime("%A") %>!</p>

<p>It's about that time - head over to the <a href="https://dailypuzzl.es/games">games page</a> to try your hand at today's Daily Puzzles.</p>

<p>Good luck, and thanks for playing!</p>

<p>Dave and the Daily Puzzles Team<br>
<a href="https://www.dailypuzzl.es">Daily Puzzles</a>
</p>
<p style="font-size: 75%">Questions, suggestions, or comments? <a href="mailto:info@dailypuzzl.es">Get in touch!</a><br>
Don't want this email? Go to your <%= link_to @user do %>Profile <% end %>to change your preferences.</p>