<p>Hi <%= @user.first %>,</p>

<p>Happy <%= Date.today.strftime("%A") %>! Here are today's puzzles.</p>

<p>Head to the <a href="https://www.dailypuzzl.es/games">games page</a> to try your hand at them..</p>

<p>Good luck, and thanks for playing!</p>

<p>Dave and the Daily Puzzles Team<br>
<a href="https://www.dailypuzzl.es">Daily Puzzles</a>
<br>
Questions, suggestions, or comments? Get in touch!
<a href="mailto:info@dailypuzzl.es">info@dailypuzzl.es</a>
</p>