<p>Hi <%= @user.first %>,</p>

<p>Happy <%= Date.today.strftime("%A") %>!</p>

<p>Head to the <%= link_to root_path do %>games page<% end %> to try today's puzzles.</p>

<p>Good luck, and thanks for playing!</p>

<p>Dave and the Daily Puzzles Team</p>
<p><a href="https://www.dailypuzzl.es">Daily Puzzles</a></p>
<br>
<p>Questions, suggestions, or comments? Get in touch!</p>
<a href="mailto:info@dailypuzzl.es">info@dailypuzzl.es</a>