<p>Hi <%= @user.first %>!</p>

<p><%= @admin.full_name %> has invited you to join the <%= @group.name %> group.</p>

<p>If you think you're up to it, go to your <%= link_to @user do %>Profile<% end %> to accept the invitation.</p>

<p>Thanks for playing!</p>

<p>Dave and the Daily Puzzles Team</p>
<p><a href="https://www.dailypuzzl.es">Daily Puzzles</a></p>
