<p>Hey <%= @user.first %>!</p>

<p>Thanks for signing up, and welcome to the Daily Puzzles.</p>

<p>Now that you're a member, we'll have new puzzles for you every day. You can compete against yourself (or your friends), and we'll even help you track your improvement.</p>

<p>So what are you waiting for? Go ahead and try your hand at <a href="https://www.dailypuzzl.es">today's puzzles</a>.</p>

<p>Good luck, and thanks for playing!</p>

<p>Dave and the Daily Puzzles Team</p>
<p><a href="https://www.dailypuzzl.es">Daily Puzzles</a></p>
