<div class="footer navbar-fixed-bottom navbar-default">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <p class="text-left white top-ten">Daily Puzzles</p>
      </div>
      <div class="col-xs-6">
        <p class="text-right top-ten white">
            <a class="text-right white" href="/contact">Contact</a>  |  <a class="text-right white" href="/privacy">Privacy Policy</a>  |  <a class="text-right white" href="/termsofuse">Terms of Use</a>
        </p>
      </div>
    </div>
  </div>
</div>
