<p>Hi <%= @resource.email%>,</p>

<p><%= @resource.invited_by.first %> thinks you're pretty smart and has challenged you to join them in solving the Daily Puzzles!</p>

<p>Each weekday, there's a new set of puzzles to try, and you can compete against your friends for the top scores.</p>

<p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></p>

<p>If you don't want to accept the invitation, please ignore this email. We won't tell <%= @resource.invited_by.first %>, but we hope you'll check us out on your own sometime soon!</p>

<p>Thanks,</p>

<p>Dave and the Daily Puzzles Team</p>
<p><a href="https://www.dailypuzzl.es">Daily Puzzles</a></p>